langchain_core
langgraph
langchain
langgraph
langchain_google_genai
langchain_openai
dotenv
IPython
markdownify==1.2.0
tavily-python
rich
fastapi
uvicorn
httpx
uvicorn
openai 
transformers 
joblib 
huggingface_hub 
numpy
torch
scikit-learn
